:root {
    --white: #fff;
    --active-color: #ffffff;
  }
  
  * {
    box-sizing: border-box;
  }
  
  html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background: var(--active-color);
    transition: background 0.4s ease;
  }
  
  .button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  input[type="range"] {
    height: 5px;
    
    width: 100%;
    margin-bottom: 10px;
    border-radius: 8px;
    background: #3b7677;
    transition: background 0.2s ease;
    cursor: pointer;
  }
  
  .audio-player {
    max-width: 350px;
    padding: 2em 4em 2em 4em;
    border-radius: 20px;
    box-shadow: 0 28px 28px rgba(0, 0, 0, 0.2);
    margin: auto 2vw auto 2vw;
    color: var(--white);
    background-color: #8e5dde; /* box color */
  }
  
  .artwork {
    border-radius: 120px;
    display: block;
    margin: auto;
    height: 200px;
    width: 200px;
  }
  
  .track-info {
    text-align: center;
    z-index: 1;
    position: relative;
  }
  
  .title {
    font-weight: 700;
    margin-bottom: 4px;
  }
  
  .artist {
    font-weight: 300;
    margin-top: 0;
  }
  
  .audio-controls {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto 15px;
  }
  
  .audio-controls .play svg,
  .audio-controls .pause svg {
    height: 40px;
    width: 40px;
  }

  .slider {
    width: 8px; /* set the height of the slider */
    background-color: #ccc; /* set the background color of the slider */
  }
  
  .slider::-webkit-slider-thumb {
    height: 20px; /* set the height of the slider thumb */
    width: 20px; /* set the width of the slider thumb */
    background-color: #4CAF50; /* set the background color of the slider thumb */
    cursor: pointer;
  }

  .audio-controls path {
    fill: var(--white);
  }
  
  .color-backdrop {
    background: linear-gradient(45deg, var(--active-color) 20%, transparent 100%)
      no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  
  .resize {
    width: 100px;
    height: auto;
  }

  .color-backdrop.playing {
    animation: colorChange 20s alternate infinite;
  }
  
  @keyframes colorChange {
    from {
      filter: hue-rotate(0deg);
    }
    to {
      filter: hue-rotate(360deg);
    }
  }